*, ::after , ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(54, 54, 71);
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

input[type="checkbox"] {
    display: none;
    appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    visibility: hidden;
    opacity: 0;
}

.hide {
    display: none;
}

.invisible {
    opacity: 0;
    user-select: none;
    visibility: hidden;
}


.visible {
    display: inline-block;
    opacity: 1;
    user-select: all;
    visibility: visible;
}

/* select */
.select-container {
    position: relative;
}
.language-select{
    outline: none;
    border: 1px solid #999;
    display: inline-block;
    color: white;
    background: transparent;
    width: 150px;
    height: 45px;
    border-radius: 5px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding-left: 10px;
    position: relative;
}

.language-select::after {
    content: "";
    border: 6px solid #fff;
    border-color: #fff transparent transparent;
    position: absolute;
    top: 50%;right: 15px;
}

.select-container input:checked ~ .language-select::after{
    transform: rotateX(-180deg) translateY(50%);
}

.language-select span {
        line-height: 43px;
        display: inline-block;
}



.select-options {
    position: absolute;
    top: calc(100% + 30px);
    width: 100%;
    left: 0;
        visibility: hidden;
            opacity: 0;
            user-select: none;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #555;
    transition: all 0.5s;
}
.select-container input:checked~.select-options {
    top: calc(100% + 10px);
    visibility: visible;
    opacity: 1;
}

.select-options .opt{
    padding: 8px 15px;
    cursor: pointer;
}
.select-options .opt span {
    color: white;
}
.select-options .opt:hover{
    background: white;
}

.select-options .opt:hover span{
    color: black;
}


/* progress */

.progress-background {
    fill: none;
    stroke-width: 2px;
    stroke: #999;
}

.progress-main{
    fill: none;
    stroke-width: 2px;
    stroke: rgb(31, 98, 164);
    transform: rotateZ(-90deg);
    transform-origin: center;
}


.download{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0 20px;
}
.download #download {
    border: none;
    outline: none;
    padding: 5px 20px;
    width: max-content;
    height: 45px;
    color: white;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif ;
    border-radius: 5px;
    background: rgb(8, 141, 13);
    cursor: pointer;
}
svg{
    flex: 1;
}


/* checkbox */

label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 15px;
    cursor: pointer;
}

label span {
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;

}

.checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-box {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    border: 1px solid #999;
    position: relative;
}

.checkbox-box::before,
.checkbox-box::after {
    position: absolute;
    content: "";
    top: 0;
    transition: all .5s;
    transform-origin: bottom;
    transform: rotateZ(0deg) translateY(-7px) translateX(1px);
}

.checkbox-box::before {
    width: 3px;
    height: 100%;
    left: 0;
}

.checkbox-box::after {
    width: 3px;
    height: 100%;
    right: 0;

}
.checkbox input:checked~label .checkbox-box::after,
.checkbox input:checked~label .checkbox-box::before {
    background: rgb(16, 134, 43);
}

.checkbox input:checked~label .checkbox-box::after {
    transform: rotateZ(-45deg) translateY(-7px) translateX(1px);

}

.checkbox input:checked~label .checkbox-box::before {
    transform: rotateZ(45deg) translateY(-7px) translateX(-1px);
}


.checkbox2 .checkbox-box::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
        border-right: 2px solid transparent;
            border-bottom: 2px solid transparent;
    width: calc(50%);
    height: calc(90%);
    transform: translateX(0.5px);
    transform-origin: bottom;
    transition: all .5s;
}

.checkbox2 input:checked~label .checkbox-box::before {
    border-right: 2px solid rgb(16, 134, 43);
    border-bottom: 2px solid rgb(16, 134, 43);
   transform: rotateZ(45deg) translateY(-6px) translateX(-10px);
}

.checkbox2 .checkbox-box::after {
    display: none;
}

.checkbox1 .checkbox-box::before,
.checkbox1 .checkbox-box::after {
    position: absolute;
    content: "";
    top: 0;
    transition: all .5s;
    transform-origin: bottom;
    transform: translateY(0px);
}

.checkbox1 .checkbox-box::after {
    transform : rotateZ(-45deg) translateY(-100px);
}
.checkbox1 .checkbox-box::before {
    transform: rotateZ(45deg) translateY(100px);
}

.checkbox1 input:checked~label .checkbox-box::after,
.checkbox1 input:checked~label .checkbox-box::before {
    background: rgb(16, 134, 43);
}

.checkbox1 input:checked~label .checkbox-box::after {
    transform: translateY(-6px) translateX(-4px) rotateZ(-45deg);
}

.checkbox1 input:checked~label .checkbox-box::before {
    transform: translateY(-6px) translateX(4px) rotateZ(45deg);
}


.cube-container{
    list-style-type: none;
    transform: skewY(-15deg);
}

.cube-container .cube {
    padding: 10px 20px;
    transition: all 0.5s;
    position: relative;
    z-index: calc(1 * var(--zIdx));
    background: rgb(54, 54, 71);
}

.cube::before {
    content: "";
    position: absolute;
    top: 0;
    left : -30px;
    width: 30px;
    height: 100%;
    background: rgb(83, 78, 78);
    transform-origin: right;
    transform: skewY(45deg);
        z-index: calc(1 * var(--zIdx));
}

.cube::after{
    content: "";
    position:absolute;
    top: -30px;
    height: 30px;
    left: 0;
    width: 100%;
    background: rgb(83, 78, 78);
    transform: skewX(45deg);
    transform-origin: bottom;
    filter: brightness(0.7);
}

.cube span{
    font-size: 18px;
    color: white;
}
.cube:hover{
    transform: translateX(-50px);
    background: var(--bgc);
}
.cube:hover::before, .cube:hover::after{
    background: var(--bgc);
}


/* input material */
.input {
    width: 250px;
    position: relative;
}

.input input {
    width: 100%;
    border-radius: 5px;
    display: block;
    border : 1px solid rgba(255, 255, 255, 0.5);
    background: transparent;
    outline: none;
    color: white;
    padding: 15px 10px;
    font-size: 20px;
}

.input label{
    position: absolute;
    left: 0;
    top : 0;
    padding: 15px 10px;
    user-select: none;
    cursor: text;
    transition: all .2s;
    font-size: 18px;
    text-transform: uppercase;
    color: #ccc;
}

.input input:focus + label, .input input:valid + label {
    color: aqua;
    padding: 0 10px;
    font-size: 10px;
    transform: translateX(10px) translateY(-10px);
    background: rgb(54, 54, 71);
    border-right: 1px solid aqua;
    border-left: 1px solid aqua;
}
.input input:focus{
    border: 1px solid aqua;
}
