.loading-container__circle {
    --animation-duration: 0.8s;
    --circle-diameter: 13px;
    --circle-scale-percent: 0.2;
    position: relative;
    left: calc(var(--circle-diameter) * -1);
}

.loading-container__circle:before,
.loading-container__circle:after {
    content: " ";
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    border-radius: 50%;
    position: absolute;
    animation-duration: var(--animation-duration);
    animation-name: revolve;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    mix-blend-mode: darken;
}

.loading-container__circle:before {
    background: rgb(77, 232, 244);
}

.loading-container__circle:after {
    background: rgb(253, 62, 62);
    animation-delay: calc(var(--animation-duration) / -2);
}

@keyframes revolve {
    0% {
        left: 0;
    }

    25% {
        transform: scale(calc(1 + var(--circle-scale-percent)));
    }

    50% {
        left: var(--circle-diameter);
    }

    75% {
        transform: scale(calc(1 - var(--circle-scale-percent)));
    }

    100% {
        left: 0;
    }
}