*,
::before,
::after {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

video::-webkit-media-controls {
  display: none !important;
}

video::-webkit-media-controls-enclosure {
  display: none !important;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}
/* .video-slider {
  height: calc(100vh - 63px);
} */
.App {
  max-height: 100vh;
  min-height: 100vh;
  height: 100vh;
  overflow: hidden;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #161722;
  border-radius: 10px;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #363741;
  border-radius: 10px;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #4c4d5a;
}

.truncate-n-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.icon_animation:hover svg{
  transform-origin: 50% 100%;
  overflow: visible;
  animation: icon_animate 1s;
}

@keyframes icon_animate {
  30% {
    transform: scale(1.123);
  }

  65% {
    transform: rotateZ(-22deg);
  }

  85% {
    transform: rotateZ(22deg);
  }

  100% {
    transform: rotateZ(0deg) scale(1);
  }
}
